* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.header {
    background-image: url(../img/beachshowcase.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 40vh;
    min-height: 100vh;
    color:#926239;
}

.header__title {
    font-size: 50px;
    line-height: 1.2;
    padding: 0 0 5px 0; 
}

.header__text {
    font-size: 20px;
    padding:0 0 35px 0;
}

.header__button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.header__button:hover {
    background-color: #926239;
    color:#ffffff;
}

.first__paragraph,
.second__paragraph, 
.columns__item-text {
    padding: 20px;
    text-align: center;
}

.second__paragraph {
    background: #f4f4f4;
}

.bg-color {
    background-color: #926239;
}

.text-color-brown {
    color:#926239;
}

.text-color-white {
    color:#ffffff;
}

.columns {
    font-size: 0;
}

.columns__item {
    font-size: initial;
    width: 33.33%;
    display: inline-block;
}

.content-section-title,
.columns__item-title {
    opacity: 0;
    position: absolute;
    left: -100%;
}